// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 60%;
  padding: 30px;
  align: center;

}
.img-responsive{
  width: 100%;
  height: auto;
}
.head{
  margin-top: 60px;
  text-align: center;
}
