// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  margin-top: -750px;
  text-align: center;
  color:white;
}
.img-responsive{
  width: 100%;
  height: auto;
}
